# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.pdb

# PyTorch
*.pt
*.pth
*.ckpt

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Data directory
data/